@tailwind base;
@tailwind components;
@tailwind utilities;

:root, html, body {
  margin: 0;
  background: black;
  color: white;
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
}

.text-shadow {
  text-shadow: black 0px 0 6px;
}
